.top{
  position: fixed;
  top: 650px;
  right: 50px;
  z-index: 2;
  width: 65px;
  height: 65px;
  border-radius: 100%;
  &__adress{
    position: absolute;
    width: 65px;
    height: 65px;
    &::before{
      content: '';
      height: 24px;
      position: absolute;
      width: 2px;
      background-color: black;
      top: 49%;
      left: 38%;
      transform: translate(0,-50%) rotate(35deg);
    }
    &::after{
      content: '';
      height: 24px;
      position: absolute;
      width: 2px;
      background-color: black;
      top: 49%;
      right: 38%;
      transform: translate(0,-50%) rotate(-35deg);
    }
  }
}